/* == Globals and Misc Things == */
    html, body {
        height: 100%;
        margin: 0;
        font-family: sans-serif;
        overflow: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
        cursor: default !important;
        background-color: var(--background) !important;
    }

    *::-webkit-scrollbar { 
        display: none;
    }

    *:focus {
        outline: none !important;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    /* Windowing */

        /* Classes */

            .darwin-windowing-left {
                padding-top: 40px !important;
            }

            .darwin-windowing-right {
                padding-top: 45px !important;
            }

            .win32-windowing {
                padding-top: 10px !important;
            }

            .main-head {
                -webkit-app-region: drag;
                width: 100%;
                padding: 0;
                margin: 0;
                position: fixed;
                z-index: 100;
                display: none;
            }

        /* IDs */

            #main-head-win32 {
                background-color: transparent;
                height: 23px;
            }

            #main-head-darwin {
                background-color: transparent;
                height: 34px;
            }


/* == Pages and Views (Biggie Things) == */

    /* Leading */

        /* IDs */

            #loading {
                margin-top: 35px;
                padding-left: 5px;
                background-color: var(--background);
                color: var(--content-normal-accent);
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 100000;
                display: none;
            }

            #loading-msg {
                color: var(--content-normal-alt);
                font-weight: 500;
                font-size: 15px;
            }

            #loading-bottom {
                bottom: 50px;
                position: absolute;
                display: flex;
                font-size: 8px;
                font-weight: 200;
            }

            #loading-msg-sub {
                color: var(--content-normal-alt);
                font-weight: 200;
                font-size: 15px;
            }

            #loading-anim {
                width: 150px;
                height: 150px;
            }

    /* Content Pages */

        /* Classes */
            .page {
                display: none;
                overflow-y: scroll;
                height: 100%;
                margin: 1px;
            }

            .blankimage {
                height: 200px;
                width: auto;
            }

            .blankimage-alt {
                margin-top: 20px;
                font-weight: 600;
                color: var(--content-normal-accent);
            }

            .overlay-unit {
                background-color: var(--background);
                border-radius: 5px;
                width: 450px; 
                padding: 10px;
            }

        /* IDs */

            #content-wrapper {
                margin: 0;
                height: 100%;
                background-color: var(--background);
                display: grid;
                grid-template-columns: 200px auto
            }

            #content-area{
                padding: 0 10px 0 10px;
                overflow: scroll;
            }

            #overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--background-feature-overlay);
                z-index: 1000;
                justify-content: center;
                align-items: center; 
                display: none;
            }

            #repeat-unit {
                display: none; /* TODO: remove? */
            }

/* == Menu + Menu Actions == */

    /* Menu Wingdings */

        /* Classes */

            .menu-portion {
                transform: translateX(-9px);
                overflow-y: scroll;
            }

            .menu-label {
                font-size: 14px;
                color: var(--menu-label);
                font-weight: 600;
                padding: 7px 0 0 5px;
                display: inline-block;
            }

            .menu-divider{
                margin: 1px 0 1px 0;    
                border: 0.3px var(--content-normal-alt) solid !important;
            }

            .menu-subicon {
                font-size: 10px;
                vertical-align: middle;
                text-align: center;
                width: 17px;
                height: 17px;
                border-radius: 3px;
                border: 1px solid var(--menu-semiaccent-background);
                color: var(--menu-action);
                cursor: pointer;
                margin-right: 6px;
                -webkit-transition-property: all;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
            }

                .menu-subicon:hover {
                    background-color: var(--menu-accent-background);
                }



    /* Menu Items */

        /* Classes */

            .today {
                color: var(--menu-text);
                padding: 4px 0 4px 10px;
                /*transform: translateX(-4px);*/
                cursor: default;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -webkit-transition-property: color, background-color;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: color, background-color;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                font-weight: 500;
            }

                .today:hover {
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    padding: 4px 0 4px 10px;
                    background-color: var(--menu-semiaccent-background);
                }

                .today-highlighted {
                    background-color: var(--menu-accent-background) !important;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    padding: 4px 0 4px 10px;
                    color: var(--menu-accent) !important;
                }



            .menuitem {
                margin: 2px 7px 5px 15px;
                padding: 4px 5px 4px 10px;
                color: var(--menu-text);
                -webkit-transition-property: color, background-color;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: color, background-color;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                cursor: default;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }

                .mihov:hover {
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: var(--menu-semiaccent-background);
                }

                .menuitem-selected {
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: var(--menu-accent-background) !important;
                    padding: 4px 5px 4px 10px;
                    color: var(--menu-accent) !important;
                }

            .perspective {
                padding: 4px 0 4px 10px;
            }

            .project {
                font-size: 12px;
                padding: 2px 4px 2px 10px;
                white-space:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    /* Da Menu */

        /* IDs */

            #left-menu{
                grid-column-start: 1;
                grid-column-end: 1;
                background-color: var(--menu-background);
                padding: 0 10px 10px 10px;
                overflow: hidden;
            }

            #menu-area{
                height: 100%;
                display: flex;
                /*grid-template-rows: 60px 30px auto auto;*/
                color: var(--menu-background);
                flex-direction: column;
            }

/* == Task + Task Actions == */

    /* Task Basics */

        /* Classes */

            .task {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                width: 99.5%;
                min-height: 5px;
                transition: background-color 200ms ease-in-out;
            }

                .thov:hover {
                    background-color: var(--task-feature) !important;
                }

            .task-display {
                height: 30px;
            }

    /* Task Elements */

        /* Classes */

            .task-name {
                font-size: 12pt;
                font-weight:400;
                background-color:inherit;
                color: var(--content-normal-alt);
                padding: 10px 5px 10px 5px;
                border: 0px;
                display: inline-block;
                height: 30px;
                width: 85%;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                text-overflow: ellipsis;
            }

                .task-name:focus {
                    background-color: var(--content-normal);
                }

            .task-desc {
                font-size: 9pt;
                font-weight:300;
                background-color:inherit;
                color: var(--task-textbox);
                margin: 0 5px 0 0;
                padding: 2px 1px 0 5px;
                border: 0px;
                display: block;
                width: 100%;
                height: 50px;
                resize: none;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                -webkit-transition-property: all;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
            }

                .task-desc:focus{
                    background-color: var(--content-normal);
                }

                .task-desc::placeholder{
                    color: var(--decorative-light);
                }

            .textbox {
                font-size: 9pt;
                font-weight: 500;
                background-color: var(--task-textbox-background);
                color: var(--task-textbox);
                padding: 0px 2px 0 0;
                border: 0px;
                display: block;
                height: 20px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                transform: translateY(-1px);
                width: 26%;
            }

            .task-subicon {
                font-size: 10px;
                vertical-align: middle;
                text-align: center;
                width: 17px;
                height: 17px;
                border-radius: 3px;
                border: 1px solid var(--task-feature-alt);
                color: var(--task-feature-alt);
                cursor: pointer;
                margin-right: 6px;
                -webkit-transition-property: all;
                -webkit-transition-duration: 200ms;
                -webkit-transition-timing-function: ease-in-out;
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
            }

                .task-subicon:hover {
                    color: var(--decorative-light-alt);
                    background-color: var(--content-normal);
                }

/* == Misc. Buttons and Actions == */

    /* Misc. Misc. Items */

        /* Classes */

            .label {
                font-weight: 300;
                font-size: 13px;
                color: var(--task-icon);
                margin-right: 10px;
                margin-left: 5px;
            }


    /* Quickadd */

        /* IDs */

            #quickadd {
                background-color: var(--quickadd);
                margin: 20px;
                width: 250px;
                height: 30px;
                z-index: 10;
                position: absolute;
                bottom: 0;
                right: 0;
                border: 0;
                border-radius: 7px;
                padding: 3px 1px 3px 10px;
                box-shadow: 1px 1px 3px var(--background-feature);
                font-size: 14px;
                transition-property: color, background-color;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                color: var(--quickadd-text);
            }

                #quickadd::placeholder{
                    color: var(--quickadd-placeholder);
                }

                #quickadd.dragover::placeholder{
                    color: var(--quickadd-success-text) !important;
                }

                #quickadd:hover {
                    background-color: var(--quickadd-feature);
                }

                #quickadd:focus {
                    background-color: var(--quickadd-feature);
                }

                #quickadd:active {
                    background-color: var(--quickadd-feature);
            }

