/* Globals */
html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* White Scrollbar Fix, MSE Runtime */
}

*::-webkit-scrollbar { 
    display: none;  /* White Scrollbar Fix, Chrome Runtime */
}

*:focus {
    outline: none;
}

/* Class */
.page {
    display: none;
    overflow-y: scroll;
    height: 100%;
    margin: 1px;
}

.upcoming-section{
    padding-bottom:9px;
}

.perspective-title{
    color: #838384;
    font-size: 12px;
    padding: 0;
}
.perspective-titleword{
    padding-left:8px;
    font-weight: 600;
}

.perspective-divider{
    margin: 5px 0 5px 0;    
    border: 0.5px #cecece solid !important;
}
.perspective-subhead{
    color: #434d5f;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 15px;
}

.badge {
    border: 1px #394454 solid;
    height: 16px;
    min-width: 16px;
    width: auto;
    color: #394454;
    font-size: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px 0 2px;
}

.badge:first-child {
    transform: translateX(-2.5px);
}

#login {
    bottom: 0;
    width: 150px;
    margin-top: auto;
    color: #1a283d;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    margin-top: 15px;
    padding: 4px 0 4px 10px;
    transform: translateX(-1px);
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: #374559 1px solid;
    float: right;
    transform: translateX(-90px);
}

#login:hover {
    background-color: #374559;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    color: #ededed;
}

#auth-content-wrapper{
    margin: 0;
    height: 100%;
    background-color: #f4f4f4;
    display: grid;
    /*grid-template-columns: 700px auto*/
}

#auth-left-menu{
    grid-column-start: 1;
    grid-column-end: 1;
    width: 250px;
    padding: 40px 10px 10px 10px;
    overflow: hidden;
    background: url(https://source.unsplash.com/HzSLh5zV42s/1600x900);
    background-size: cover;
}

#auth-image-credit{
    bottom: 0;
    width: 100%;
    margin-top: auto;
    color: #eaeaea;
    font-size: 9px;
    font-weight: 200;
}

#authwall {
    width: 650px;
	height: 100px;
    display: block;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    vertical-align: center;
    padding-left: 50px;
    transform: translate(120px, -30px);
}

#greeting-auth {
    color: #434d5f;
    font-weight: 700;
    padding-right: 10px;
}

#greeting-auth-subtitle {
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

#upcoming-header{
    font-size: 13px;
    color: #434d5f;
}

#greeting{
    font-weight: 600;
    padding-right: 3.5px;
}

#greeting-name{
    font-weight: 300;
    padding-right: 5px;
}

#greeting-date{
    padding-left: 5px;
    font-weight: 500;
    font-size: 15px;
}

.menu-portion {
    transform: translateX(-9px);
    overflow-y: scroll;
}

.menu-label {
    size: 17px;
    color: #10141a;
    font-weight: 600;
    padding: 7px 0 0 0;
}


.menu-divider{
    margin: 1px 0 1px 0;    
    border: 0.3px #303949 solid !important;
}

.today-highlighted {
    background-color: #1d293a !important;
    color: #fafafafa !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.today {
    color: #071121;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border: 0.5px solid #071121;
    font-weight: 500;
}

.today:hover {
    background-color: #374559;
    color: #9ea8b7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.menuitem-selected {
    background-color: #27303d !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    color: white !important;
}

.mihov:hover {
    background-color: #374559;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #9ea8b7;
}

.menuitem {
    margin: 7px 5px 5px 10px;
    color: #1a283d;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.perspective {
    padding: 4px 0 4px 10px;
}

.project {
    font-size: 13px;
    padding: 2px 0 2px 10px;
}


.task {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 99.5%;
    min-height: 5px;
    transition: background-color 200ms ease-in-out;
}

.task:hover {
    background-color: #efefef !important;
}

.task-name {
    font-size: 12pt;
    font-weight:400;
    background-color:inherit;
    color: #434d5f;
    padding: 10px 5px 10px 5px;
    border: 0px;
    display: inline-block;
    height: 30px;
    width: 85%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-overflow: ellipsis;
}

.task-subicon {
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid #dbdbdd;
    color: #dbdbdd;
    cursor: pointer;
    margin-right: 6px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.auth-upf {
    font-size: 12pt;
    font-weight:400;
    background-color:inherit;
    color: #434d5f;
    padding: 10px 5px 10px 5px;
    border: 1px grey solid;
    display: inline-block;
    height: 30px;
    width: 85%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.auth-upf.wrong {
    border-color: red;
}


.auth-upf:focus {
    background-color: #eaeaea;
}

.task-subicon:hover {
    color: #5b5b5e;
    background-color: #e2e2e2;
}


.task-name:focus {
    background-color: #eaeaea;
}

#logout {
    bottom: 0;
    width: 100%;
    margin-top: auto;
    color: #1a283d;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    padding: 4px 0 4px 10px;
    transform: translateX(-1px);
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#logout:hover {
    background-color: #374559;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    transform: translateX(-1px);
    color: #ededed;
}

/*.task-desc:hover {*/
    /*background-color: #eaeaea;*/
/*}*/

.task-desc:focus{
    background-color: #eaeaea;
}

.task-desc {
    font-size: 9pt;
    font-weight:300;
    background-color:inherit;
    color: #777777;
    margin: 0 5px 0 0;
    padding: 2px 1px 0 5px;
    border: 0px;
    display: block;
    width: 100%;
    height: 50px;
    resize: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.task-desc::placeholder{
    color: #bababa;
}
 
.textbox {
    font-size: 9pt;
    font-weight: 500;
    background-color:#e8e8e8;
    color: #434d5f;
    padding: 0px 2px 0 0;
    border: 0px;
    display: block;
    height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transform: translateY(-1px);
    width: 26%;
}

.es-input {
    background-color: #e8e8e8 !important;
    padding-left: 5px;
}


.tick-icon {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.task-flagged.active{
    background-color: #dadeae;
    box-shadow: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.task-flagged {
    background-color: #e8e8e8;
    height: 20px;
    width: 10%;
    font-size: 9px;
    color: #2d2d2d;
}

.es-list {
    background-color: #f4f4f5;
    font-size: 11px;
    transform: translateY(-3px);
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0.5px solid #dedee0;
    width: auto !important;
}

.es-visible {
    transition: all 400ms;
    padding: 2px 10px 2px 10px !important;
    /*height: 17px;*/
}

.es-visible:hover {
    background-color: #e2e2e2 !important;
}

.editable-select {
    transition: all 400ms;
}

.task-floating.active{
    background-color: #d1d1d1;
    box-shadow: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.task-floating {
    background-color: #e8e8e8;
    height: 20px;
    width: 10%;
    font-size: 9px;
    color: #2d2d2d;
}


.task-tools {
    display: flex;
    width: 75vw;
    margin-top: 10px;
    justify-content: flex-start;
}

.ui-datepicker {
    font-size: 12px;
}

.ui-datepicker-calendar {
    color: grey;
}

.ui-state-default {
    color: grey !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: 0 !important;
    background-color: #eeeeee !important;
    border-color: #eeeeee !important;
    vertical-align: middle;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.ui-state-default:hover {
    background: 0 !important;
    border-color: #a3a3a3 !important;
    background-color: #f4f4f5 !important;
}

.ui-state-active {
    background-color: #e0e0e0 !important;
    color: black;
}

.ui-state-active:hover {
    background-color: #e0e0e0 !important;
    border: 0;
}

.ui-priority-secondary {
    border-color: #bebebf !important;
    border-width: 0px !important;
    color: #434d5f !important;
    box-shadow: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
}

.ui-datepicker-close {
    box-shadow: 0 !important;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
}

#ui-datepicker-div {
    /*transform: scale(0.7) translateX(-65px);*/
    font-family: 'Inter', sans-serif;
}

.ui-widget-header {
    background: 0;
    border: 0;
    background-color: #434d5f;
}

.ui-datepicker-prev {
    transform: translateY(1px);
}

.ui-datepicker-prev-hover {
    background: 0 !important;
    border-color: #656e7a !important;
    background-color: #656e7a !important;
    transform: translate(1px, 2px);
}
.ui-datepicker-next {
    transform: translateY(1px);
}

.ui-datepicker-next-hover {
    background: 0 !important;
    border-color: #656e7a !important;
    background-color: #656e7a !important;
    transform: translate(0px, 2px);
}

.ui-timepicker-select option {
    font-size: 10px !important;
}

.datebox {
    cursor: pointer;
    padding-left: 4px;
}

/*-----*/
/* Base for label styling */
.task-check:not(:checked),
.task-check:checked {
  position: absolute;
  left: -9999px;
}

.task-check:not(:checked) + label,
.task-check:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.task-check:not(:checked) + label:before,
.task-check:checked + label:before {
  content: '';
  position: absolute;
  left: 6px; top: 4.4px;
  width: 1em; height: 1em;
  border: 1px solid #ccc;
  /*background: #fff;*/
  border-radius: 4px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
}

.task-check:not(:checked) + label.ds:before,
.task-check:checked + label.ds:before {
  content: '';
  position: absolute;
  left: 6px; top: 4.4px;
  width: 1em; height: 1em;
  border: 1px solid #f8974a;
  background: #f4eae4;
  border-radius: 4px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
}

.task-check:not(:checked) + label.od:before,
.task-check:checked + label.od:before {
  content: '';
  position: absolute;
  left: 6px; top: 4.4px;
  width: 1em; height: 1em;
  border: 1px solid #c04f40;
  background: #f7d7d5;
  border-radius: 4px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
}

/* checked mark aspect */
.task-check:not(:checked) + label:after,
.task-check:checked + label:after {
  font-family: FontAwesome;
  font-weight: 900; /* Fix version 5.0.9 */
  text-transform: text;           /* proposed */
  content: '\f00c';
  position: absolute;
  top .15em; left: .10em;
  font-size: 9px;
  line-height: 0.6;
  color: #2b3749;
  transition: all 100ms;
  transform: translate(8px, 9.5px) !important;
}

.task-check:not(:checked) + label.ds:after,
.task-check:checked + label.ds:after {
  font-family: FontAwesome;
  font-weight: 900; /* Fix version 5.0.9 */
  text-transform: text;           /* proposed */
  content: '\f00c';
  position: absolute;
  top .15em; left: .10em;
  font-size: 9px;
  line-height: 0.6;
  color: #f4721a;
  transition: all 100ms;
  transform: translate(8px, 9.5px) !important;
}

.task-check:not(:checked) + label.od:after,
.task-check:checked + label.od:after {
  font-family: FontAwesome;
  font-weight: 900; /* Fix version 5.0.9 */
  text-transform: text;           /* proposed */
  content: '\f00c';
  position: absolute;
  top .15em; left: .10em;
  font-size: 9px;
  line-height: 0.6;
  color: #d32f19;
  transition: all 100ms;
  transform: translate(8px, 9.5px) !important;
}

/* checked mark aspect changes */
.task-check:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.task-check:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {
   /*border: 2px solid #4778d9!important;*/
    background-color: #e0e0e0 !important;
}

label.ds:hover:before {
   /*border: 2px solid #4778d9!important;*/
    background-color: #f4c09d !important;
}

label.od:hover:before {
   /*border: 2px solid #4778d9!important;*/
    background-color: #ed938c !important;
}

label:before {
   transition: all 150ms linear;
}

.bootstrap-tagsinput {
    background-color: #e8e8e8;
    height: auto !important;
    min-height: 20px;
    width:  63%;
    transform: translateX(-4px);
    /*height: 20px;*/
}

.bootstrap-tagsinput > .label-info {
    position: relative;
    background-color: #dadeae;
    display: inline-block;  /* <- ADD THIS */
    transform: translateY(-2px);
    font-size: 10px;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;
}

/*.bootstrap-tagsinput > .tag + input {*/
    /*border: 0;*/
    /*background-color: inherit;*/
    /*width: 20px;*/
/*}*/

.bootstrap-tagsinput input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px;
    border-color: red;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 20px;
    transform: translateX(5px) translateY(1px);
    min-width: 70px;
    font-size: 9pt;
    text-overflow: ellipsis;
    font-weight: 500;
    color: #434d5f;
    padding: 0px 2px 0 0;
    overflow: ellipsis;
}

.tt-menu {
    background-color: #f4f4f5;
    font-size: 11px;
    transform: translateY(-3px);
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0.5px solid #dedee0;
    box-shadow: 0 2px 3px #ccc;
    transition: all 400ms;
}

.tt-suggestion {
    padding: 2px 10px 2px 10px;
}

.tt-suggestion:hover {
    background-color: #e2e2e2;
}

.tt-cursor {
    background-color: #e2e2e2;
}

/*-----*/

/* IDs */
#main-head {
    -webkit-app-region: drag;
    height: 34px;
    background-color: #2e3f54;
    width:100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 10000;
}

#loading {
    margin-top: 35px;
    padding-left: 5px;
}

#content-wrapper{
    margin: 0;
    height: 100%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 200px auto
}

#left-menu{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #434d5f;
    padding: 40px 10px 10px 10px;
    overflow: hidden;
}

#menu-area{
    height: 100%;
    display: flex;
    /*grid-template-rows: 60px 30px auto auto;*/
    color: #e6e7e8;
    flex-direction: column;
}

.label {
    font-weight: 300;
    font-size: 13px;
    color: #777777;
    margin-right: 10px;
    margin-left: 5px;
}

#content-area{
    padding: 40px 10px 0 10px;
    overflow: scroll;
}

/* Datepicker */
/* ========== */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }
/*====*/

