/* Globals */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

*:focus {
    outline: none;
}

/* Class */
.page {
    display: none;
}

.menu-portion {
    overflow-y: scroll;
    margin-bottom: 10px;
}

.today-highlighted {
    background-color: #1d293a !important;
    color: #fafafafa !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.today {
    color: #071121;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border: 0.5px solid #071121;
    font-weight: 500;
}

.today:hover {
    background-color: #374559;
    color: #9ea8b7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.perspective-selected {
    background-color: #27303d !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    transform: translateX(-8px);
    color: white !important;
}

.perspective:hover{
    background-color: #374559;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    transform: translateX(-9px);
    color: #9ea8b7;
}

.perspective {
    margin: 7px 5px 5px 10px;
    color: #1a283d;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    padding: 4px 0 4px 10px;
    transform: translateX(-9px);
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.label {
    font-weight: 300;
    font-size: 13px;
    color: #777777;
    margin-right: 10px;
    margin-left: 5px;
}

.task {
    background-color: #edeef2;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #e5e6e8;
    border-right: 1px solid #e5e6e8;
    min-height: 5px;
}

.task-name {
    color: #071121;
    font-size: 12pt;
    font-weight:500;
}

.task-desc:hover :focus {
    background-color: #e3e4e5;
}

.task-desc {
    font-size: 9pt;
    font-weight:300;
    background-color:inherit;
    color: #777777;
    margin: 0 5px 0 0;
    padding: 2px 1px 0 5px;
    border: 0px;
    display: block;
    width: 100%;
    height: 50px;
    resize: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.task-desc::placeholder{
    color: #bababa;
}
 
.datebox {
    font-size: 7pt;
    font-weight:300;
    background-color:#e8e8e8;
    color: #434d5f;
    padding: 0px 2px 0 5px;
    border: 0px;
    display: block;
    height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transform: translateY(-1px);
    width: 35%;
    font-weight: 700;
}


.tick-icon {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.task-flagged.active{
    background-color: #dadeae;
    box-shadow: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.task-flagged {
    background-color: #e8e8e8;
    height: 20px;
    width: 10%;
    font-size: 9px;
    color: #2d2d2d;
}

.es-list {
    font-size: 10px;
    background-color: #f7f9f9;
    font-weight: 500;
    color: #3a3a3a;
}

.es-visible{
    transition: all 400ms;
    /*height: 17px;*/
}

.editable-select {
    transition: all 400ms;
    font-weight: 500;
}

.task-floating.active{
    background-color: #d1d1d1;
    box-shadow: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.task-floating {
    background-color: #e8e8e8;
    height: 20px;
    width: 10%;
    font-size: 9px;
    color: #2d2d2d;
}


.task-tools {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
}

/*-----*/
/* Base for label styling */
.task-check:not(:checked),
.task-check:checked {
  position: absolute;
  left: -9999px;
}

.task-check:not(:checked) + label,
.task-check:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.task-check:not(:checked) + label:before,
.task-check:checked + label:before {
  content: '';
  position: absolute;
  left: 6px; top: 4.4px;
  width: 1em; height: 1em;
  border: 1px solid #ccc;
  /*background: #fff;*/
  border-radius: 4px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
}
/* checked mark aspect */
.task-check:not(:checked) + label:after,
.task-check:checked + label:after {
  font-family: FontAwesome;
  font-weight: 900; /* Fix version 5.0.9 */
  text-transform: text;           /* proposed */
  content: '\f00c';
  position: absolute;
  top .15em; left: .10em;
  font-size: 9px;
  line-height: 0.6;
  color: #2b3749;
  transition: all 400ms;
  transform: translate(8px, 9.5px) !important;
}
/* checked mark aspect changes */
.task-check:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.task-check:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {
   /*border: 2px solid #4778d9!important;*/
    background-color: #e0e0e0 !important;
}

label:before {
   transition: all 150ms linear;
}
/*-----*/

/* IDs */
#main-head {
    -webkit-app-region: drag;
    height: 34px;
    background-color: #2e3f54;
    width:100%;
    padding: 0;
    margin: 0;
    position: fixed;
}

#content-wrapper{
    margin: 0;
    height: 100%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 200px auto
}

#left-menu{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #434d5f;
    padding: 40px 10px 10px 10px;
    overflow: hidden;
}

#menu-area{
    height: 100%;
    display: grid;
    /*grid-template-rows: 60px 30px auto auto;*/
    grid-template-rows: 27px auto auto;
    grid-row-gap: 4px;
    color: #e6e7e8;
}

#content-area{
    padding: 40px 10px 10px 10px;
}

#greeting {
}

#greeting-text {
    font-weight: 200;
    font-size: 17pt; 
}

#greeting-name {
    font-weight: 500;
    font-size: 11pt; 
}

