/* Globals */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Class */
.page {
    display: none;
}

.menu-portion {
    overflow-y: scroll;
    margin-bottom: 10px;
}

.today-highlighted {
    background-color: #1d293a !important;
    color: #fafafafa !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.today {
    color: #071121;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    border: 0.5px solid #071121;
    font-weight: 500;
}

.today:hover {
    background-color: #374559;
    color: #9ea8b7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    /*transform: translateX(-4px);*/
}

.perspective-selected {
    background-color: #27303d !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    transform: translateX(-8px);
    color: white !important;
}

.perspective:hover{
    background-color: #374559;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    transform: translateX(-9px);
    color: #9ea8b7;
}

.perspective {
    margin: 7px 5px 5px 10px;
    color: #1a283d;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    padding: 4px 0 4px 10px;
    transform: translateX(-9px);
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.labels {
    font-weight: 300;
    font-size: 10px;
    color: #c4c4c6;
}

/* IDs */
#main-head {
    -webkit-app-region: drag;
    height: 34px;
    background-color: #2e3f54;
    width:100%;
    padding: 0;
    margin: 0;
    position: fixed;
}

#content-wrapper{
    margin: 0;
    height: 100%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 200px auto
}

#left-menu{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #434d5f;
    padding: 40px 10px 10px 10px;
    overflow: hidden;
}

#menu-area{
    height: 100%;
    display: grid;
    /*grid-template-rows: 60px 30px auto auto;*/
    grid-template-rows: 27px auto auto;
    grid-row-gap: 4px;
    color: #e6e7e8;
}

#content-area{
    padding: 40px 10px 10px 10px;
}

#greeting {
}

#greeting-text {
    font-weight: 200;
    font-size: 17pt; 
}

#greeting-name {
    font-weight: 500;
    font-size: 11pt; 
}

