{
    "presets": [
        "@babel/env",
        "@babel/preset-typescript",
        ["minify", {
            "keepFnName": true
        }]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}

