[submodule "backend"]
	path = src/backend
	url = https://github.com/Shabang-Systems/CondutionEngine.git
[submodule "src/backend"]
	path = src/backend
	url = https://github.com/Shabang-Systems/CondutionEngine/
	branch = alphaAPI-v0.0.1
