[submodule "src/backend"]
	path = src/backend
	url = https://github.com/Shabang-Systems/CondutionEngine/
	branch = alphaAPI-v0.0.1
[submodule "pack"]
	path = pack
	url = https://github.com/Shabang-Systems/CondutionWeb
    branch = beta-v0.2.4
