#abtib {
    height: 2em;
    z-index: 1;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border: 0px;
    border-radius: 10px;
    background-color: var(--quickadd);
    color: var(--quickadd-text);
    padding: 10px;
    font-size: 15px;
}

#abtib::placeholder {
    color: var(--quickadd-placeholder);
}

.abtib-mobile { 
    background-color: var(--quickadd);
    color: var(--quickadd-text);
    border-radius: 100% !important;
    height: 3em !important;
    width: 3em !important;
    display: flex;
    font-size: 17px !important;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px var(--background-feature);
}


