/*TODO: make this work in light mode. */
.qs_modal {
    --max-height: 164px;
    /*--height: 150px;*/
    --width: 80%;
    --max-width: 520px;
    --ion-backdrop-opacity: 0.5;
    --border-radius: 8px;

}

.search-bar {
    /*--background: var(--content-normal-accent);*/
    --background: var(--background-feature);
    --border-radius: 5px;
    /*--box-shadow: 0px 13px 39px -12px rgba(0,0,0,0.91);*/
    --box-shadow: 0px 13px 39px var(--qs-shadow-intensity) var(--qs-shadow-color);
    --color: var(--decorative-light-alt);
}


.option-line {
    display: flex;
    width: 100%;
    border-radius: 5px;
    /*padding-left: 10px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*margin-bottom: 0px;*/
    /*margin-top: 0px;*/
    cursor: default;
    transition: background-color 0.2s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

}


.option-text {
    display: inline-block;
    flex-grow: 10;
    /*width: 100%;*/
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    border-radius: 2px;
    color: var(--menu-label);
    transition: background-color 0.2s;
    cursor: default;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.option-text-hover {
    background-color: var(--background-feature);
}

.option-icon {
    display: inline-block;
    color: var(--content-normal-accent);
    padding-top: 8px;
    padding-left: 15px;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
    max-height: 110px;
    padding-bottom: 8px;


}

.modal-content-wrapper {

}



