.TagEditor-header {
    background-color: var(--background-feature);
    padding: 17px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.TagEditor-close {
    right: 0;
    color: var(--decorative-light-accent);
    cursor: pointer;
}
