/*
 *TODO fix colors and their variables
 * */
.TagEditor-header {
    width: 100%;
    padding-top: max(env(safe-area-inset-top), 17px);
    background-color: var(--background-feature);
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.TagEditor-close {
    margin-right: 3px;
    float: right;
    /*color: var(--decorative-light-accent);*/
    color: red;
    cursor: pointer;
}

.x { 
    color: var(--repeat-popover-header-text);
}


.tag-list {
    display: flex;
    overflow-y: scroll;
    width: 40%;
    height: 100%;
    flex-direction: column;
}

.tag-settings {
    display: flex;
    width: 60%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tag-pane-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 10px;
}

.tag-in-list {
    font-size: 14px;
    margin: 3px;
    padding: 5px;
    display: inline;
    /*width: 98%;*/
    border-radius: 4px;
    background-color: var(--special);
    transition: 0.25s;
    /*border: 0.01px solid var(--repeat-popover-header-text);*/
    /*border-right: 1px solid white;*/
}


.tag-in-list:hover {
    background-color: var(--special-alt);
}

.tag-name {
    display: inline;
    color: var(--repeat-popover-header-text);
}

.tag-name-header {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    /*
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
    justify-content: center;*/
}

.tag-name-input {
    text-align: center;
    width: 100%;
    color: var(--perspective-query-string);
    background-color: var(--perspective-builder-header-background);
    font-size: 23px;
    margin-top: 5px;

    /*
    background-color: var(--perspective-builder-header-background);
    font-size: 15px;
    font-weight: 600;
    color: var(--perspective-query-string);
    font-family: "Courier New", Courier, monospace;
    outline: 0;
    background: transparent;
    border: 0px solid red;
    transition: background 0.3s;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--perspective-query-border);*/
}
