.TagEditor-header {
    width: 100%;
    padding-top:min(env(safe-area-inset-top), 35px);
    background-color: var(--background-feature);
    padding: 17px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.TagEditor-close {
    right: 0;
    color: var(--decorative-light-accent);
    cursor: pointer;
}

.tag-list {
    display: flex;
    overflowY: scroll;
    width: 40%;
    height: 100%;
}

.tag-settings {
    display: flex;
    width: 60%;
    height: 100%;
    overflowY: scroll;
}

.tag-pane-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.tag-in-list {
    width: 100%;
    background-color: var(--repeat-popover-header-text);
    flex-direction: column;
}
