/*
 *TODO fix colors and their variables
 * */
.TagEditor-header {
    width: 100%;
    padding-top: max(env(safe-area-inset-top), 17px);
    background-color: var(--background-feature);
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.TagEditor-close {
    margin-right: 3px;
    float: right;
    /*color: var(--decorative-light-accent);*/
    color: red;
    cursor: pointer;
}

.x { 
    color: var(--repeat-popover-header-text);
}


.tag-list {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 98.5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    width: 140px !important;
    min-width: 140px !important;
}

.tag-settings {
    height: 90%;
    overflow-y: scroll;
    flex-grow: 10;
    overflow-x: hidden;
    padding: 0px 10px;
}

.tag-pane-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 96.5%;
}

.tag-in-list {
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
    padding: 5px;
    display: inline;
    /*width: 98%;*/
    border-radius: 4px;
    background-color: var(--special);
    transition: 0.25s;
    height: 30px;
    /*border: 0.01px solid var(--repeat-popover-header-text);*/
    /*border-right: 1px solid white;*/
}


.tag-in-list:hover {
    background-color: var(--special-alt);
}


.tag-in-list.selected{
    background-color: var(--special-alt);
}


.tag-name {
    display: inline-block;
    color: var(--repeat-popover-header-text);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 89%;
}

.tag-name-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    /*
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
    justify-content: center;*/
}

.tag-name-input {
    /*text-align: center;*/
    width: 90%;
    color: var(--perspective-query-string);
    background-color: var(--task-clickbox-background);
    margin-top: 5px;
    outline: 0;
    border: 0;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
    transform: translateY(-2px);
    transition: background-color 0.3s;
}

.tag-weight-input {
    width: 40px;
    text-align: center !important;
    color: var(--perspective-query-string);
    background-color: var(--task-clickbox-background);
    margin-top: 5px;
    outline: 0;
    border: 0;
    height: 30px;
    /*padding-left: 10px;*/
    border-radius: 5px;
    margin-left: 10px;
    transform: translateY(-2px);
    transition: background-color 0.3s;
    font-weight: 600;
}

/* Hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.tag-name-input:hover {
    background-color: var(--background-feature);
}

.tag-name-input:focus {
    background-color: var(--background-feature);
}

.tag-weight-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.new-tag-button {
    display: inline;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
    padding: 5px;
    display: inline;
    /*width: 98%;*/
    border-radius: 4px;
    background-color: var(--task-clickbox-background);
    transition: 0.25s;
    height: 30px;
    color: var(--perspective-query-string);
}

.new-tag-button:hover {
    background-color: var(--background-feature);
}

.new-tag-text {
    color: var(--perspective-query-string);
    float: right;
    margin-right: 45px;
}
