.auth-backdrop {
    background: var(--auth-background);
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auth-container {
    color: var(--content-normal-alt);
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: var(--auth-semitransparent);
    flex-grow: 10;
    min-width: 450px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 599px) { 
    .auth-container {
        display: block;
        padding-top: 80px;
    }
}

@media (min-width: 600px) { 
    .auth-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
}


.auth-not-actually-a-clearfix {
    max-width: 30%;
    min-width: 150px;
    min-height: 40%;
    flex-grow: 10;
}

.auth-story {
    color: var(--content-normal-accent);
    padding: 10px 25px;
    /*position: absolute;*/
    width: 100%;
    max-width: 100%;
}

.auth-greeting {
    /*text-align: center;*/
    font-weight: 600;
    font-size: 25px
}

@media (max-width: 599px) { 
    .auth-greeting {
        font-size: 19px
    }
}

@media (min-width: 600px) { 
    .auth-greeting {
        font-size: 25px
    }
}



.auth-welcome {
    color: var(--content-normal-alt);
}


@media (max-width: 599px) { 
    .auth-welcome {
        font-size: 16px
    }
}

@media (min-width: 600px) { 
    .auth-welcome {
        font-size: 20px
    }
}


@media (max-width: 599px) { 
    .auth-message {
        font-size: 16px
    }
}

@media (min-width: 600px) { 
    .auth-message {
        font-size: 16px
    }
}

.auth-copyright {
    color: var(--content-normal-alt);
    font-weight: 300;
    font-size: 8px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 75%;
}

.auth-subtitle {
    color: var(--content-normal-alt);
}

@media (max-width: 599px) { 
    .auth-subtitle {
        margin-top: 3px;
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) { 
    .auth-subtitle {
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 16px;
    }
}




.auth-click-button {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--content-normal-accent);
    cursor: pointer;
    border: solid 1px grey;
    background-color: transparent;
    transition: background-color 0.3s;
    font-weight: 600;
}

@media (max-width: 599px) { 
    .auth-click-button {
        font-size: 14px;
    }
}

@media (min-width: 600px) { 
    .auth-click-button {
        font-size: 15px;
    }
}

.auth-click-button:hover {
    background-color: var(--background-feature);
}


.auth-upf {
    font-weight:400;
    background-color:inherit;
    color: var(--auth-primary);
    padding: 10px 5px 10px 5px;
    border: 1px grey solid;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-overflow: ellipsis;
    height: 35px;
    display: inline-block;
    flex-grow: 10;
}

.auth-containerbox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.auth-upf:focus {
    background-color: var(--auth-upf-focus);
}

.auth-upf.wrong {
    border-color: red;
}

.auth-symbol {
    color: var(--content-normal-alt);
    display: inline;
    padding-right: 15px;
}

.auth-opbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-action {
    cursor: pointer;
    padding: 2px 9px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 6px;
}

.auth-action-primary {
    float:right;
    background: var(--content-normal-accent);
    color: var(--content-normal) !important;
    display: inline-block;
    height: 30px;
    padding-top: 4.5px;
}


