.auth-backdrop {
    background: var(--auth-background);
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auth-container {
    color: var(--content-normal-alt);
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.80);
    flex-grow: 10;
    min-width: 375px;
}

.auth-not-actually-a-clearfix {
    max-width: 30%;
    min-width: 150px;
    min-height: 40%;
    flex-grow: 10;
}

