#calendar-page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 700px) {
    #calendar-page-wrapper {
        flex-wrap: wrap;
    }
}

@media (min-width: 700px) { 
    #calendar-page-wrapper {
        flex-wrap: nowrap;
    }
}

#calendar-page-header {
    margin-left: 15px;
}

.calendar-page-count {
    font-weight: 600;
    font-size: 30px;
    color: var(--decorative-light-accent);
    display: inline;
}

.calendar-page-title {
    display: inline;
    margin-left: 5px;
    color: var(--content-normal-alt);
}

.calendar-page-date {
    display: inline-block;
    margin-left: 10px;
    color: var(--content-normal-alt);
    font-weight: 600;
    background-color: var(--background-feature);
    padding: 4px 6px;
    border-radius: 5px;    
}

.calendar-popover {
    --background: transparent;
    --width: 290px;
    --height: 370px;
    --box-shadow: 0 !important;
}

#calendar-wrapper {
    display: inline-block;
    width: 290px;
    background-color: var(--background-feature);
    margin-left: 5px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#calendar-wrapper-popover {
    display: inline-block;
    width: 290px;
    background-color: var(--background-feature);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#calendar-page-taskpage-wrapper {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
    min-width: 300px;
}

#calendar-daterow {
    padding: 7px 7px;
    color: var(--decorative-light-alt);
    font-size: 12px;
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px;
}

.calendar-daterow-item {
    margin: 0 auto;
}

#calendar-container {
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px;
    grid-template-rows: 39px 39px 39px 39px 39px;
    /*width: 90%;*/
    padding: 0 7px;
    /*margin: 0 auto;*/
}

.calendar-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
    /*color: var(--decorative-light);*/
    cursor: pointer;
}

.calendar-container-item-pre {
    color: var(--decorative-light);
}

.calendar-container-item-post {
    color: var(--decorative-light);
}

.calendar-container-item-actual {
    color: var(--content-normal-alt);
}

.calendar-container-item-actual:hover {
    background-color: var(--decorative-light);
}

#calendar-infopanel {
    padding: 0 15px;
}

.calendar-infopanel-dateselected {
    font-size: 40px;
    font-weight: 600;
    display: inline;
    color: var(--content-normal-accent);
}

.calendar-infopanel-datename {
    display: inline;
    color: var(--content-normal-alt);
    margin-left: 5px;
    font-weight: 600;
    transform: translateY(-1px);
    font-size: 15px;
}

.calendar-infopanel-month {
    display: inline-block;
    color: var(--content-normal-alt);
    margin-left: 10px;
    font-weight: 500;
    transform: translateY(1px);
}

.calendar-infopanel-year {
    display: inline-block;
    color: var(--content-normal-alt);
    margin-left: 5px;
    font-weight: 500;
    transform: translateY(1px);
}

#calendar-tools {
    display: inline;
    margin-left: 12px;
}

.calendar-button {
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    transition: background-color 0.3s;
    color: var(--content-normal-accent) !important;
}

.calendar-button:hover {
    background-color: var(--decorative-light);
    border-radius: 3px;
}

.calendar-today {
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    transition: background-color 0.3s;
    color: var(--content-normal-accent) !important;
    font-size: 13px;
    transform: translateY(-1px);
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}




