#calender-page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#calendar-page-calendar-wrapper {
    display: inline-block;
    width: 290px;
    background-color: var(--background-feature);
    margin-left: 5px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#calendar-page-taskpage-wrapper {
    display: inline-block;
}

#calendar-daterow {
    padding: 7px 7px;
    color: var(--decorative-light-alt);
    font-size: 12px;
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px;
}

.calendar-daterow-item {
    margin: 0 auto;
}

#calendar-container {
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px;
    grid-template-rows: 39px 39px 39px 39px 39px;
    /*width: 90%;*/
    padding: 0 7px;
    /*margin: 0 auto;*/
}

.calendar-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
    /*color: var(--decorative-light);*/
    cursor: pointer;
}

.calendar-container-item-pre {
    color: var(--decorative-light);
}

.calendar-container-item-post {
    color: var(--decorative-light);
}

.calendar-container-item-actual {
    color: var(--content-normal-alt);
}

.calendar-container-item-actual:hover {
    background-color: var(--decorative-light);
}

#calendar-infopanel {
    padding: 0 15px;
}

.calendar-infopanel-dateselected {
    font-size: 40px;
    font-weight: 600;
    display: inline;
    color: var(--content-normal-accent);
}

.calendar-infopanel-datename {
    display: inline;
    color: var(--content-normal-alt);
    margin-left: 5px;
    font-weight: 600;
    transform: translateY(-1px);
    font-size: 15px;
}

.calendar-infopanel-month {
    display: inline;
    color: var(--content-normal-alt);
    margin-left: 10px;
    font-weight: 500;
    transform: translateY(-1px);
}

.calendar-infopanel-year {
    display: inline;
    color: var(--content-normal-alt);
    margin-left: 5px;
    font-weight: 500;
    transform: translateY(-1px);
}

#calendar-tools {
    display: inline;
    margin-left: 12px;
}

.calendar-button {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    transition: background-color 0.3s;
}

.calendar-button:hover {
    background-color: var(--decorative-light);
    border-radius: 3px;
}


