
a {
    text-decoration: none !important;
}

#main-split {
    --side-max-width: 100px;
}

#main-menu {
    --background: var(--menu-background);
    border: 0;
}

#main-menu ion-content {
    --background: var(--menu-background);
    --padding-start: 15px;
    --padding-end: 15px;
}

#menu-hero {
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 1px 2px var(--menu-semiaccent-background);
    color: var(--theme);
}

.menu-decoration {
    font-size: 11px;
    color: var(--menu-action);
}

.menu-sublabel {
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 2px;
}

.menu-item {
    font-weight: 520;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--menu-text);
    transition: background-color 0.5s;
    cursor: default;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.menu-item:hover:not(.menu-item-selected) {
    background: var(--menu-semiaccent-background);
}

#logout {
    border-radius: 0;
    padding: 10px;
}

#logout:hover {
    background: var(--menu-accent-background);
}


.menu-item-selected {
    background: var(--menu-accent-background);
}

ion-icon {
    transform: translateY(2.5px);
    margin-right: 5px;
}

#menu-content.menu-darwin {
    --padding-top: 15px;
}



