.page-content {
    padding-bottom: 20px;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 103vh;
}

.page-title {
    font-size: 15px;
    font-weight: 600;
    color: var(--content-normal-alt);
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    margin: 10px;
    transform: translateY(-0.5px);
    /*border: 1px solid red;*/
    /*width: 100%;*/ /* IF YOU DO THIS THE HEADER BREAKS ON MOBILE */
}

.bold-prefix {
    color: var(--content-normal-accent);
    font-weight: bold;


}


.editable-title {
    font-size: 15px;
    font-weight: 600;
    color: var(--content-normal-alt);
    outline: 0;
    background: transparent;
    border: 0px solid red;
    transition: background 0.3s;
    padding: 5px;
    border-radius: 3px;
    /*width: 95%;*/ /* IF YOU DO THIS THE HEADER BREAKS ON MOBILE */
    transform: translateY(-1px);
}

.editable-title:hover {
    background: var(--task-clickbox-background);
}

.editable-title:focus {
    background: var(--task-clickbox-background);
}



.greeting-container {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: var(--decorative-light-accent);
    transform: translateY(-5px);
    
}

.greeting-datewidget {
    display: inline-block;
    transform: translateY(1px);
}

.greeting-date {
    font-weight: 800;
    color: var(--decorative-light-accent);
    margin-right: 5px;
}

.greeting-datename {
    font-weight: 200;
    color: var(--decorative-light-accent);
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items:flex-end;
    margin-bottom: 10px;
}

.page-label {
    font-weight: 600;
    color: var(--decorative-light-accent);
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.count-badge {
    /*width: 20px;*/
    /*height: 20px;*/
    padding: 5px 5px 5px 5px; /* top right bottom left */
    font-size: 12px;
    color: var(--content-normal-accent);
    border: 1.5px solid var(--content-normal-accent);
    /*background-color: transparent;*/
    background-color: var(--task-feature) !important;
    transform: translate(5px, -1px) scale(0.9);
}

.page-invis-drag.normal {
    display: none;
}

.page-invis-drag.windows {
    display: none;
}

.page-invis-drag.darwin {
    display: block;
    position: absolute;
    z-index: 1000;
    height: 35px;
    width: 100%;
    -webkit-app-region: drag;
    background: var(--background) !important;
    width: 100%;
}

.page-content.darwin {
    padding-top: 16px;
}


