/* Perspectives CSS!*/

.perspective-icon {
    border-radius: 50%;
    /*padding: 20px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    border: 3px solid;
    height: 25px;
    width: 25px;
    display: inline-block;
    transform: scale(0.9);
    transform: translateX(-4px);
}


.perspective-modal {
    --height: 148px;
    --max-height: 248px;
    /*--width: 460px;*/
    --width: 80%;
    --max-width: 500px;
    --ion-backdrop-opacity: 0.5;


}



.perspective-header {
    background-color: var(--background-feature);
    padding: 12px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;

}


.build-input-edit {
    font-size: 15px;
    font-weight: 589;
    color: var(--content-normal-alt);
    outline: 0;
    background: transparent;
    border: 0px solid red;
    transition: background 0.3s;
    padding: 5px;
    border-radius: 3px;
    width: 100%;

}


.build-input-edit:hover {
    background: var(--menu-semiaccent-background);
}

.build-input-edit:focus {
    background: var(--background-feature);
}


.build-input {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    background: transparent;
    /*[>color: var(--<]*/

    border: 1px solid var(--decorative-light-alt);

}

.perspective-select {

    background-color: var(--content-normal) !important;
    color: var(--content-normal-alt) !important;
    box-shadow: 0 0 0 0 transparent !important;
    border: 0;
    border-radius: 3px;
    padding: 4px 7px;
    margin-left: 3px;
    margin-right: 0px;
    --background:  var(--task-textbox-background);
    font-size: 15px;
    transition: 0.3s;

}

.perspective-select:hover {
    background-color: var(--decorative-light) !important;

}


.perspective-basic-row {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/

}


.perspective-label {
    color: var(--decorative-light-alt);
    font-size: 14px;
    /*transform: translateY(1px);*/
    margin-right: 10px;
}


