.subproject {
    border-width: 0px;
    border-style: 0;
    border-radius: 7px;
    transition: background-color 0.3s;
    /* margin: 2px 8px; */
    color: var(--task-textbox) !important;
    width: 100%;
    display: block;
    margin: 2px 8px;
    padding: 3px;
}

.subproject:hover {
    background: var(--background-feature);
}

.subproject-icon {
    padding-left: 6px;
    margin-right: 14px;
}


