.subproject {
    border-width: 0px;
    border-style: 0;
    border-radius: 7px;
    transition: background-color 0.3s;
    /* margin: 2px 8px; */
    color: var(--subproject-text) !important;
    width: 98%;
    height: 38px;
    display: block;
    margin: 2px 8px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.subproject:hover {
    background: var(--background-feature);
}

.newbutton {
    border-width: 0px;
    border-style: 0;
    border-radius: 7px;
    transition: background-color 0.3s;
    /* margin: 2px 8px; */
    color: var(--decorative-light-alt) !important;
    width: 98%;
    display: block;
    height: 33px;
    margin: 2px 8px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.newbutton:hover {
    background: var(--addbutton-background-hover);
}

.subproject-icon {
    padding-left: 6px;
    margin-right: 14px;
    font-size: 18px;
}

.backbutton {
    margin-right: 3px;
    transition: background-color 0.3s;
    padding: 5px;
    transform: translateX(-5px);
    cursor: pointer;
    border-radius: 3px;
}

.backbutton:hover {
    background: var(--background-feature);
}

.project-top {
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0!important;
}

.progressbar {
    height: 10px;
    background: var(--progressbar-background);
    border-radius: 5px;
    margin: 5px 15px;
    display: inline-block;
    flex-grow: 10;
    overflow: hidden;
}

.pcontent {
    border-radius: 5px;
    height: 10px;
    background-image: linear-gradient(to right, var(--progressbar-min),var(--progressbar-max));
}




.completer-wrapper {
    border: 1px solid red;
    width: 120px;

    /*display: flex;*/
    /*flex-direction: row;*/
    float: right;
    /*margin-top: 10px;*/
    padding-top: 15px;
}



.completer-text {
    font-weight:400;
    background-color:inherit;
    color: var(--task-name-text);
    /*padding: 13px 5px 10px 5px;*/
    border: 0;
    display: inline-block;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*text-overflow: ellipsis;*/
}










