.subproject {
    border-width: 0px;
    border-style: 0;
    border-radius: 7px;
    transition: background-color 0.3s;
    /* margin: 2px 8px; */
    color: var(--subproject-text) !important;
    width: 98%;
    height: 38px;
    display: block;
    margin: 2px 8px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.subproject:hover {
    background: var(--background-feature);
}

.completeproject {
    color: var(--decorative-light-alt) !important;
}

.newbutton {
    border-width: 0px;
    border-style: 0;
    border-radius: 7px;
    transition: background-color 0.3s;
    /* margin: 2px 8px; */
    color: var(--decorative-light-alt) !important;
    width: 98%;
    display: block;
    height: 33px;
    margin: 2px 8px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.newbutton:hover {
    background: var(--addbutton-background-hover);
}

.subproject-icon {
    padding-left: 6px;
    margin-right: 14px;
    font-size: 18px;
}

.backbutton {
    margin-right: 3px;
    transition: background-color 0.3s;
    padding: 5px;
    transform: translateX(-5px);
    cursor: pointer;
    border-radius: 3px;
}

.backbutton:hover {
    background: var(--background-feature);
}

.project-top {
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0!important;
}

.progressbar {
    height: 10px;
    background: var(--progressbar-background);
    border-radius: 5px;
    margin: 5px 15px;
    display: inline-block;
    flex-grow: 10;
    overflow: hidden;
}

.pcontent {
    border-radius: 5px;
    height: 10px;
    background-image: linear-gradient(to right, var(--progressbar-min),var(--progressbar-max));
}




/*.completer-wrapper {*/
/*    background-color: var(--special);*/
/*    border-radius: 20px;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*    [>border: 1px solid red;<]*/
/*    width: 120px;*/

/*    [>display: flex;<]*/
/*    [>flex-direction: row;<]*/
/*    float: right;*/
/*    [>margin-top: 10px;<]*/
/*}*/



/*.completer-text {*/
/*    font-weight:400;*/
/*    background-color:inherit;*/
/*    color: var(--task-name-text);*/
/*    [>padding: 13px 5px 10px 5px;<]*/
/*    border: 0;*/
/*    display: inline-block;*/
/*    height: 30px;*/
/*    -moz-border-radius: 3px;*/
/*    -webkit-border-radius: 3px;*/
/*    border-radius: 3px;*/
/*    padding-top: 15px;*/
/*    [>text-overflow: ellipsis;<]*/
/*}*/



.complete-name {
    display: inline-block;
    background: var(--background-feature);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 17px;
    transform: translateY(-1.5px);
    cursor: pointer;
    transition: 0.3s;
    /*color: var(--page-title);*/
}

.complete-name:hover {
    background: var(--content-normal);
    padding: 5px 12px;
}

.complete-anim {
    /*background-color: var(--page-title) !important;*/
    /*padding: 5px 20px !important;*/
    margin-right: 10px;

}


.complete-container {
    display: inline-block;
    float: right;
    /*margin-right: 30px;*/
    margin-right: 1.5%;
    margin-top: 10px;
    /*width: 10%;*/

}

.mpage-title {

    font-size: 15px;
    font-weight: 600;
    color: var(--page-title);
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    margin: 10px;
    transform: translateY(-0.5px);
    /*border: 1px solid red;*/
    /*width: 100%;<] [> IF YOU DO THIS THE HEADER BREAKS ON MOBILE */
}













