.datebar {
    background-color: var(--decorative-light);
    margin: 10px 30px;
    height: 50px;
    flex-grow: 2;
    border-radius: 5px;
      display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.timeline-box {
    display: flex;
    position: sticky;
    background: var(--background);
    z-index: 10;
    top: -1px;
}

.timeline-line {
    height: 1px;
    transform: translateY(2px);
    background: var(--background-feature);
    margin-left: 10px;
}

.timeline-text {
    margin-left: 10px;
    margin-top: 5px;
    color: var(--decorative-light);
    text-align: right;
    font-weight: 200
}

.timeline-weekname {
    font-weight: 600;
    font-size: 14px;
}

.timeline-line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
    flex-grow: 1;
}

