
#main-split {
    --side-max-width: 250px;
}

#main-menu {
    --background: var(--menu-background);
}

#main-menu ion-content {
    --background: var(--menu-background);
    --padding-start: 15px;
    --padding-end: 15px;
}

#menu-hero {
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 1px 2px var(--menu-background-accent);
    color: var(--theme);
}

.menu-decoration {
    font-size: 11px;
    color: var(--menu-background-decorative);
}

.menu-sublabel {
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 2px;
}

.menu-item {
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 17px;
    border-radius: 5px;
    color: var(--menu-text);
    transition: background-color 0.5s;
    cursor: default;
}

.menu-item:hover {
    background: var(--menu-background-feature);
}

.menu-item-selected {
    background: var(--menu-background-accent);
}

ion-icon {
    transform: translateY(2.5px);
    margin-right: 5px;
}


