.page-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--content-normal-alt);
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(1px);
}

.greeting-container {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: var(--decorative-light-accent);
}

.greeting-datewidget {
    display: inline-block;
    transform: translateY(1px);
}

.greeting-date {
    font-weight: 800;
    color: var(--decorative-light-accent);
    margin-right: 5px;
}

.greeting-datename {
    font-weight: 200;
    color: var(--decorative-light-accent);
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items:flex-end;
    margin-bottom: 10px;
}

.page-label {
    font-weight: 600;
    color: var(--decorative-light-accent);
    margin-left: 10px;
    margin-top: 10px;
}

.count-badge {
    /*width: 23px;*/
    color: var(--content-normal-accent);
    border: 1px solid var(--content-normal-accent);
    /*background-color: transparent;*/
    background-color: var(--task-feature) !important;
    transform: translate(8px, 6px);
}

#greeting {
    font-weight: 600;
}

