.repeat-header {
    background-color: var(--background-feature);
    padding: 17px;
}

.repeat-close {
    float: right;
    color: var(--decorative-light-alt);
    transition: color 0.5s;
}

.repeat-close:hover {
    color: var(--decorative-light-accent);
    cursor: pointer;
}

.repeat-select {
    background-color: var(--task-textbox-background);
    border: 0;
    border-radius: 3px;
    padding: 3px;
    margin: 1px;
}

.repeat-select:hover {
    background-color: var(--clickbox-accent-background);
}

.repeat-select__option {
    background-color: orange;
}

.repeat-select:focus {
    border: 0;
    outline: 0;
}

