.task-repeat {
    --width: 80%;
    --max-width: 500px;
    --ion-backdrop-opacity: 0.5;
}

.task-repeat__default {
    --height: 110px; 
}

.task-repeat__advanced-monthly {
    --height: 310px; 
}

.repeat-task-name {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 0 10px;
    text-overflow: ellipsis;
}

.repeat-header {
    background-color: var(--background-feature);
    padding: 17px;
    color: var(--decorative-light-alt);
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;

}

.repeat-close {
    right: 0;
    color: var(--decorative-light-alt);
    transition: color 0.5s;
}

.repeat-close:hover {
    color: var(--decorative-light-accent);
    cursor: pointer;
}

.repeat-select {
    background-color: var(--content-normal) !important;
    color: var(--content-normal-alt) !important;
    box-shadow: 0 0 0 0 transparent !important;
    border: 0;
    border-radius: 3px;
    padding: 4px 7px;
    margin-left: 3px;
    margin-right: 3px;
    width: 100px;
    --background:  var(--task-textbox-background);
    display: inline-block;
    font-size: 15px;
}

.repeat-select::part(icon) {
    display: none;
}


.select-interface-option {
    --background: var(--task-textbox-background);
    --color: var(--task-textbox);
    transition: background-color 0.3s;
    --border-color: transparent !important;
}


/*.repeat-select__option:hover {*/
    /*background-color: var(--task-clickbox-accent-background);*/
    /*color: var(--task-textbox);*/
/*}*/

.repeat-label {
    color: var(--decorative-light-alt);
    font-size: 14px;
    transform: translateY(1px);
    margin-right: 10px;
}

.dropdown-menu {
    background-color: var(--task-textbox-background);
    z-index: 100;
    position: absolute;
}

.repeat-basic-row {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.repeat-rule-selector {
    display: flex;
    align-items: center;
}

.repeat-select:focus {
    border: 0;
    outline: 0;
}

.dropdown-toggle::after {
    border: 0 !important;
}


