/* Colours */
.condutiontheme-default {
    /* Background */
    /* These two colors should lightly contrast 
     * think: a hover over the background should
     * be colored --background-feature */
    --background: #f4f4f4;
    --background-feature: #e5e7ea;
    --background-feature-overlay: rgba(229,231,234,0.7);

    /* Content */
    /* These are the mail colors. Make them mainly
     * to be bold and clear. Also make them kind of related 
     * to one main color */
    --content-normal: #eaeaea;
    --content-normal-alt: #434d5f;
    --content-normal-accent: #1a283d;

    /* Decorative */
    --decorative-light: #cecece;
    --decorative-light-alt: #838384;
    --decorative-light-accent: #374559;

    /* Menu colors */
    /* These colors should all in different
     * degrees contrast the --menu-background
     * think: a selected item over the background */
    --menu-background: #434D5F;
    --menu-semiaccent-background: #303d4f;
    --menu-accent-background: #212c3d;
    --menu-text: #CACED8;
    --menu-accent: #BCC0C9;
    --menu-label: #BCC0C9;
    --menu-action: #9097a3;

    /* Task colors */
    --task: #90939a;
    --task-icon: #777777;
    --task-feature: #efefef;
    --task-feature-alt: #dbdbdd;
    --task-textbox: #434d5f;
    --task-textbox-background: #e8e8e8;
    --task-clickbox-background: #e8e8e8;
    --task-clickbox-accent-background: #d1d1d1;
    --task-clickbox: #2d2d2d;
    --task-checkbox: #ccc;
    --task-checkbox-feature: #e0e0e0;
    --task-checkbox-ds: #f8974a;
    --task-checkbox-ds-feature: #f5c09d;
    --task-checkbox-ds-background: #f4eae4;
    --task-checkbox-od: #c04f40;
    --task-checkbox-od-feature: #ed938c;
    --task-checkbox-od-background: #f7d7d5;
    --task-checkmark: #2b3749;
    --task-checkbox-feature-alt: #c5d0ef;
    --task-checkmark-ds: #f4721a;
    --task-checkmark-od: #d32f19;

    /* Datepicker colors */
    --task-datepicker-elems: grey;
    --task-datepicker-elem-feature: #f4f4f5;
    --task-datepicker-elem-feature-alt: #a3a3a3;
    --task-datepicker-background: #eeeeee;
    --task-datepicker-selected: #e0e0e0;
    --task-datepicker-feature: #434d5f;
    --task-datepicker-action: #656e7a;

    /* Special accent */
    --special: #dadeae;
    --quickadd: #c04f40;
    --quickadd-feature: #bf3b2a;
    --quickadd-success: #b1dcbf;
    --quickadd-success-text: #03561f;
    --quickadd-placeholder: #e2c0bc;

    /* Heatmap */
    --heatmap-lightest: #e5e7ea;
    --heatmap-darkest: #c0d5e0;

    /* Other Things */
    --auth-background: url(./../static/auth-background.jpg);
}


/* Ionic */
.condutiontheme-default {
  --menu-background: #eaebed;
  --menu-background-feature: #d9dadd;
  --menu-background-accent: #c6c6c6;
  --menu-background-decorative: #8e8e8e;
  --menu-text: #414c5e;
  --theme: #434d5f;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
