/* Colours */
.condutiontheme-micah-ocean {
    /* Background */
    /* These two colors should lightly contrast 
     * think: a hover over the background should
     * be colored --background-feature */
    --background: #035A6D;
    --ion-background-color:#01434F;
    --background-feature: #313749;
    --background-feature-overlay: rgba(230, 59, 102, 0.7);

    /* Content */
    /* These are the main colors. Make them mainly
     * to be bold and clear. Also make them kind of related 
     * to one main color */
    --content-normal: #1a98b4;
    --content-normal-alt: #9dcbce;
    --content-normal-accent: #13aacc;

    /* Decorative */
    --decorative-light: #e01a1a;
    --decorative-light-alt: #749db4; /*'add description' text*/
    --decorative-light-accent: #b3b5cc;

    /* Menu colors */
    /* These colors should all in different
     * degrees contrast the --menu-background
     * think: a selected item over the background */
    --menu-background: #035A6D;
    --menu-semiaccent-background: #035A6D;
    --menu-accent-background: #0c283a;
    --menu-text: #7fa3d1;
    --menu-accent: #323c4f;
    --menu-label: #1a283d;
    --menu-action: rgb(198, 209, 224);

    /* Task colors */
    --task: #90939a;
    --task-icon: #b3c9b2;
    --task-flagged: #79bed3;
    --task-flaggedRing: #79bed3;
    --task-feature: #313749;
    --task-feature-alt: #3B8172;
    --task-textbox: #7ed4a2;
    --task-textbox-background: #245261;
    --task-clickbox-background: #233b4e;
    --task-clickbox-accent-background: #464fa5;
    --task-clickbox: #bee1e2;
    --task-checkbox: rgb(111, 214, 192);
    --task-checkbox-feature: #2d7ea3;
    --task-checkbox-feature-alt: #4366c7;

    --task-checkbox-ds: #77c997;
    --task-checkbox-ds-feature: #f5c09d;
    --task-checkbox-ds-background: #3d19dd;
    
    --task-checkbox-od: #e9a6f1;
    --task-checkbox-od-feature: #ce99d8;
    --task-checkbox-od-background: #6c4c70;
    
    --task-checkmark: #241774;
    --task-checkmark-ds: #134e4e;
    --task-checkmark-od: #c9cca3;

    /* Datepicker colors */
    --task-datepicker-elems: grey;
    --task-datepicker-elem-feature: #f4f4f5;
    --task-datepicker-elem-feature-alt: #a3a3a3;
    --task-datepicker-background: #eeeeee;
    --task-datepicker-selected: #e0e0e0;
    --task-datepicker-feature: #434d5f;
    --task-datepicker-action: #656e7a;

    /* Special accent */
    --special: #3b8172;
    --special-alt: #2a5e52; /*TODO: fix this color jack */
    --chuck-norris: #chucknorris;
    --quickadd: #c04f40; 
    --quickadd-feature: #bf3b2a;
    --quickadd-text: #eaeaea;
    --quickadd-success: #b1dcbf;
    --quickadd-success-text: #03561f;
    --quickadd-placeholder: #e2c0bc;

    /* Other Things */
    --auth-background: url(./static/auth-background-ocean.jpg);
}


