.condutiontheme-default-dark {

    /* ## Quick Actions ## */

    /* Content */
    /* These are the mail colors. Make them mainly
     * to be bold and clear. Also make them kind of related 
     * to one main color */
    --content-normal: #262626;
    --content-normal-alt: #b9b9ba;
    --content-normal-accent: #91a3ba;

    /* Decorative */
    --decorative-light: #3a3a3a;
    --decorative-light-alt: #909499;
    --decorative-light-accent: #d4d5d8;

    /* TODO, deal with these */
    --task-clickbox-background: #333333;
    --task-clickbox-accent-background: #3a3a3a;
    --task-clickbox: #8b8b8c;
    --task-clickbox-accent: #bfbfbf;


/*
   _____                _       _   _          _______ _                         
  / ____|              | |     | | (_)        |__   __| |                        
 | |     ___  _ __   __| |_   _| |_ _  ___  _ __ | |  | |__   ___ _ __ ___   ___ 
 | |    / _ \| '_ \ / _` | | | | __| |/ _ \| '_ \| |  | '_ \ / _ \ '_ ` _ \ / _ \
 | |___| (_) | | | | (_| | |_| | |_| | (_) | | | | |  | | | |  __/ | | | | |  __/
  \_____\___/|_| |_|\__,_|\__,_|\__|_|\___/|_| |_|_|  |_| |_|\___|_| |_| |_|\___|

  _____             _    
 |  __ \           | |   
 | |  | | __ _ _ __| | __
 | |  | |/ _` | '__| |/ /
 | |__| | (_| | |  |   < 
 |_____/ \__,_|_|  |_|\_\
                         
                         
*/

    /* ## Boring Things ## */
    --background: #161616;
    --ion-background-color: #161616;
    --background-feature: #212121;
    --background-feature-overlay: rgba(40,40,40,0.7);
    --qs-shadow-intensity: -12px;
    --qs-shadow-color: rgba(0,0,0,0.91);
    --auth-background: url(./../static/auth-background-dark.jpg);

    /* ## Special Things ## */
    --special: #0e1c42;
    --special-alt: #061F66;
    --special-bold: var(--content-normal-accent); 

    /* ## Quickadd ## */
    --quickadd: #c04f40; 
    --quickadd-feature: #bf3b2a;
    --quickadd-text: #eaeaea;
    --quickadd-success: #b1dcbf;
    --quickadd-successtext: #03561f;
    --quickadd-placeholder: #e2c0bc;

    /* ## Auth ## */
    --auth-primary: var(--content-normal-alt);
    --auth-upf-focus: var(--content-normal);

    --auth-login-button-text: var(--content-normal-accent);
    --auth-login-button-border: var(--content-normal-accent);

    --auth-login-button-hover-text: var(--content-normal-accent);
    --auth-login-button-hover-background: var(--content-normal);

    --auth-rec-pswd-text: var(--content-normal-accent);
    --auth-need-verify: var(--content-normal-accent);
    --auth-image-credit: var(--content-normal);

    --auth-greeting: var(--content-normal-accent);


    /* ## Calendar View ## */

    /* Heatmap */
    --heatmap-lightest: #212121;
    --heatmap-darkest: #364c5b;

    /* Calendar */
    --calendar-page-hint: var(--content-normal-alt);

    --calendar-page-header-text: var(--content-normal-alt);
    --calendar-page-largenumber: var(--decorative-light-accent);

    --calendar-page-long-date: var(--content-normal-alt);
    --calendar-page-long-date-mobile-background: var(--background-feature);

    --calendar-wrapper-background: var(--background-feature);
    --calendar-popover-background: var(--background-feature);

    --calendar-top-weekdays: var(--decorative-light-alt);
    --calendar-borders: var(--decorative-light);

    --calendar-task-circle: var(--decorative-light-alt);

    --calendar-date-unhighlighted: var(--decorative-light);
    --calendar-date-highlighted: var(--content-normal-alt);
    --calendar-date-hover: var(--decorative-light);

    --calendar-button-text: var(--content-normal-accent);
    --calendar-button-background: var(--decorative-light);

    /* ## Repeat Popover ## */
    --repeat-popover-header-background: var(--background-feature);
    --repeat-popover-header-text: var(--decorative-light-alt);

    --repeat-popover-close: var(--decorative-light-alt);
    --repeat-popover-close-hover: var(--decorative-light-accent);

    --repeat-select-background: var(--content-normal);
    --repeat-select-text: var(--content-normal-alt);

    --repeat-select-popover-background: var(--task-textbox-background);
    --repeat-select-popover-text: var(--task-textbox);

    --repeat-hint-icon: var(--decorative-light-alt);

    --repeat-dategrid-border: var(--task-clickbox-background);
    --repeat-dategrid-hover: var(--task-clickbox-background);
    --repeat-dategrid-selected-border: var(--task-clickbox-background);
    --repeat-dategrid-selected-background: var(--task-clickbox-accent-background);

    /* ## Completed ## */
    --completed-fetch-more-text: var(--task-datepicker-elems);
    --completed-fetch-more-hover: var(--task-datepicker-elems);

    /* ## Upcoming ## */
    --commitid: var(--decorative-light-alt);
    --timeline-button: var(--decorative-light-alt);
    --timeline-button-hover: var(--task-textbox);
    --timeline-text: var(--decorative-light);

    /* ## Projects ## */
    --subproject-text: var(--task-textbox);
    --addbutton-text: var(--decorative-light-alt);
    --addbutton-background-hover: var(--background-feature);
    --progressbar-background: var(--background-feature);
    --progressbar-min: var(--heatmap-lightest);
    --progressbar-max: var(--heatmap-darkest);

    /* ## Perspectives ## */
    --perspective-builder-header-background: var(--background-feature);
    --perspective-builder-header-text: var(--decorative-light-alt);
    --perspective-builder-label: var(--decorative-light-alt);

    --perspective-builder-help-icon: var(--content-normal-accent);
    --perspective-builder-help-icon-hover: var(--task-checkmark);

    --perspective-query-string: var(--content-normal-alt);
    --perspective-query-border: var(--decorative-light-alt);
    --perspective-query-hover: var(--background-feature);
    --perspective-query-background: var(--background-feature);

    --perspective-select-background: var(--content-normal);
    --perspective-select-text: var(--content-normal-alt);

    --perspective-select-focused: var(--decorative-light);

    /* ## Pagewide Colors ## */

    /* Header Area */
    --page-title: var(--content-normal-alt);
    --page-header-background: var(--background);

    --page-editable-text: var(--content-normal-alt);
    --page-editable-focusedBackground: var(--task-clickbox-background);

    --page-greeting-text: var(--decorative-light-accent);
    --page-greeting-date: var(--decorative-light-accent);

    --page-header-sandwich: var(--decorative-light-alt);

    /* Page Label */
    --page-label-background: var(--background);
    --page-label-text: var(--decorative-light-accent);

    /* Count Badge */
    --page-badge-text: var(--content-normal-accent);
    --page-badge-border: var(--content-normal-accent);
    --page-badge-background: var(--task-feature);

    /* ## The Menu ## */
    --menu-background: #232323;
    --menu-semiaccent-background: #282828;
    --menu-accent-background: #2d2d2d;
    --menu-text: #CACED8;
    --menu-accent: #BCC0C9;
    --menu-label: #BCC0C9;
    --menu-action: #9097a3;

    /* ## Task Colors ## */

    /* Task */
    --task-feature: #222323;
    --task-feature-alt: #777777;
    --task-selected: var(--task-feature);

    /* Task Name */
    --task-name-text: var(--content-normal-alt);
    --task-name-placeholder: var(--decorative-light-alt);

    /* Task Textbox */
    --task-textbox: #a9a9aa;
    --task-textbox-text: var(--task-textbox);
    --task-textbox-background: #333333;
    --task-textbox-placeholder: var(--decorative-light-alt);

    /* Task Icons */
    --task-icon-text: var(--task-textbox);
    --task-icon-highlighted: #f9c06b;

    --task-icon-ring-highlighted: #ed9512;
    --task-icon-ring: var(--task-checkbox-feature-alt);

    --task-icon: #777777;

    /* Task Check */
    --task-checkbox: #ccc;
    --task-checkbox-feature: #3d3d3d;
    --task-checkbox-feature-alt: #2b3749;
    --task-checkbox-ds: #f8974a;
    --task-checkbox-ds-feature: #563424;
    --task-checkbox-ds-background: #331e17;
    --task-checkbox-od: #c04f40;
    --task-checkbox-od-feature: #4c1d1d;
    --task-checkbox-od-background: #301414;
    --task-checkmark: #c5d0ef;
    --task-checkmark-ds: #f4721a;
    --task-checkmark-od: #d32f19;
    --task-border-delegated: #81b6ef;

    /* Task Datepicker */
    --task-datepicker-elems: #aab1ba;
    --task-datepicker-elem-feature: #464747;
    --task-datepicker-elem-feature-alt: #a3a3a3;
    --task-datepicker-background: #333333;
    --task-datepicker-selected: #484a4c;
    --task-datepicker-feature: #b1b5bc;
    --task-datepicker-action: #a2a3a5;
    --task-datepicker-icon:  #8b8b8c;

    /* Task Menu */
    --task-select-dropdown-text: var(--content-normal-alt);
    --task-select-dropdown-background: var(--task-feature);

    --task-select-dropdown-focused-text: var(--content-normal-alt);
    --task-select-dropdown-focused-background: var(--task-textbox-background);

    --task-select-dropdown-selected-text: var(--content-normal-alt);
    --task-select-dropdown-selected-background: var(--task-feature-alt);

    --task-tag-background: var(--special);
    --task-tag-text: var(--content-normal-alt);
    --task-tag-hover: var(--special-alt);

    /* FI */
    --first-interaction-image-text: #f4f4f4;
}


