html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    cursor: default !important;
    background-color: var(--background) !important;
}

html {
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}

